option_settings:
  aws:elasticbeanstalk:application:environment:
    ANTHROPIC_API_KEY: '{{resolve:ssm:ANTHROPIC_API_KEY:1}}'
    AWS_S3_BUCKET: '{{resolve:ssm:AWS_S3_BUCKET:1}}'
  aws:elasticbeanstalk:docker:
    Host: '/var/app/current'
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx